/* ############ FONTS ############ */

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'eb_garamondregular';
    src: url('../fonts/ebgaramond-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramond-regular-webfont.woff') format('woff'),
         url('../fonts/ebgaramond-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* ############ GLOBAL ############ */

html, body {
	height: 100%;
	font: normal 18.5px/1.4 arial, sans-serif;
	color: #ffffff;
	cursor: default;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	width:100%;
	margin:0px;
	padding:0px;
    font-family: 'RobotoRegular';
    background-color:#ffffff;	
}

html {
       overflow-y: scroll;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
    background: #e8e1dc;
    text-shadow: none;
}

::selection {
    background: #e8e1dc;
    text-shadow: none;
}

a {
	text-decoration: none;
}

a:hover{
	opacity:0.6;
}

b, strong {
	font-family: 'RobotoBold';
	font-weight: normal;
	color: #212121;
}

p {
	font-size:18.5px;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	margin-bottom:30px;
}
.team-member p{
	font-size:15px;
	line-height:1.5;
}
@media screen and (min-width: 768px) {
	.team-member p{
		max-width: 90%;
	}
}

.bold{
    font-family: 'RobotoBold';
}
.italic{
	font-style:italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h1{
	padding-bottom:40px;
	margin-bottom:60px;
	font-size: 60px;
    line-height: 1.2;
    font-family: 'eb_garamondregular';
    background-image: url('../image/h1_underline.jpg');
    background-size: 50px 4px;
    background-repeat: no-repeat;
    background-position: bottom left;
    color:#ffffff;
}
h2{
	padding-bottom:40px;
	margin-bottom:60px;
	font-size: 60px;
    line-height: 1.2;
    font-family: 'eb_garamondregular';
    background-image: url('../image/h1_underline.jpg');
    background-size: 50px 4px;
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-top: 0;
}
.grey h2,
.white h2,
.grey h3,
.white h3,
.grey p,
.white p{
	color:#424242;	
}
.grey h4,
.white h4{
	color:#7a7a7a;
	margin-bottom:15px;
}
.grey h3,
.white h3,
.grey h4,
.white h4{
	font-family: 'eb_garamondbold';
	font-size:30px;
}
.black h2,
.black p{
	color:#ffffff;	
}
.black h5{
	color:#ffffff;	
	font-family: 'eb_garamondbold';
	font-size:60px;
	margin-top: 0;
}

ol, ul, li {
	list-style: none;
}

ul, menu, dir, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.mobi {
	display: none;
}

.visible {
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 1 !important;
}

.clearfix:after{
	display:table;
	clear:both;
	content:"";	
}

/* FIXED NAV */
nav.navbar.fix{
	position: fixed;
	top:0px;
    width: 100%;
    z-index: 10;
    padding: 0;
	padding-left:18px;
	padding-right:18px;
}

.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	padding-left:18px;
	padding-right:18px;
}
.row{
	margin-left:-18px;
	margin-right:-18px;	
}
[class*='col-']{
	padding-left:18px;
	padding-right:18px;
}

.container-fluid{
	padding-left:18px;
	padding-right:18px;
}


/* NAV */
nav.navbar{
	background-color: #212121;
	/*background-color:red;*/
	border:none;
	border-radius: 0px;
	margin-bottom:0px;
	z-index:20;
	min-height: 60px;
	position:absolute;
	top:60px;
	width:100%;
	padding: 20px 0;
	transition: padding .3s ease-out;
	padding-left:18px;
	padding-right:18px;
}
nav.navbar {
    position: fixed;
    top: 0px;
}
.logo{
	height:23px;
	margin-top:18px;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
ul.navbar-nav {
    float: right;
}
nav ul.nav li a{
	font-family: 'RobotoRegular';
	font-size:17px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
	padding-bottom: 2px;
	border-bottom:4px solid #e53312;
	opacity:1;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left:0px;
    padding-right:0px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.navbar-nav>li {
	margin-left:30px;
}


/* HEADER */
header{
	background-color:#212121;
	padding-top:210px;
	padding-bottom:70px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-toggle {
    margin-right: 0px;
}
/* MAIN CONTENT */
.section{
	padding-top:95px;
	padding-bottom:75px;
}
#contact {
    padding-bottom: 95px;
}
.white{
	background-color:#ffffff;
}
.grey{
	background-color:#f4f4f4;
}
.black{
	background-color:#212121;
}
#meet-the-team{
	padding-bottom:0px;
}
.team-members{
	padding-top:45px;
	padding-bottom:20px;
	float:left;
}
.team-member{
	margin-bottom:60px;
}
.team-member img{
	width:100%;
	margin-bottom:34px;
}
.team-members{
    display: flex;
    flex-wrap: wrap;
	-webkit-justify-content: center;
    justify-content: center;
	width:100%;
}
.team-members:before, .team-members:after{
  content: " ";
  display: table;
  width:100%;
}
.team-members > [class*='col-'] {
    display: flex;
	display:block;
}
#approach p.bold{
	margin-bottom:0px;
}
#approach .approach-wording{
	margin-bottom:35px;
}
#services a{
	color:#424242;
	text-decoration:underline;
}
#services a{
	color:#424242;
	text-decoration:underline;
}
#contact a{
	color:#424242;
	display:block;
	margin-bottom:30px;
}
#contact a.email{
	text-decoration:underline;
}
#contact .address p{
	margin-bottom:0px;
}

#map{
	height:650px;
}

footer a,
footer a:hover{
	color:#aaaaaa;
	display:block;
	text-decoration:underline;
}
footer.section.black{
	padding-bottom:200px;
}
footer,
footer p {
	font-size: 14px;
	color:#aaaaaa !important;
}

/* SECONDARY PAGES */
.secondary .section {
    padding-top: 170px;
    padding-bottom: 75px;
}
.secondary ul{
	margin-bottom:30px;
    padding-left: 18px;
}
.secondary ul li{
    color: #424242;
    margin-bottom: 5px;
    display:list-item;
    font-size:18.5px;
}
.secondary ul li {list-style-type: disc;}

/* COOKIE CONSENT */
.cc-banner .cc-message {
    padding-right: 10px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {

	nav.navbar.fix{
		padding-left:0px;
		padding-right:0px;
	}
	nav.navbar{
		padding-left:0px;
		padding-right:0px;
	}
	.container-fluid{
		padding-left:0px;
		padding-right:0px;
	}
	nav.navbar {
	    position: fixed;
	    top: 0px;
	}
	.navbar-default .navbar-toggle {
	    border: none;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: unset;
	}
	.navbar-toggle {
	    margin-top: 14px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ffffff;
	}

	/* SPACING & FONT SIZING */
	header {
	    padding-top: 130px;
	    padding-bottom: 50px;
	}
	h1,
	h2,
	.black h5 {
	    font-size: 36px;
	    padding-bottom: 24px;
    	margin-bottom: 50px;
	}
	.black h5 {
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	}
	.grey h3, .white h3, .grey h4, .white h4 {
	    font-size: 22px;
	}
	p,
	#contact a {
	    font-size: 15px;
	    margin-bottom: 20px;
	}
	footer .miscellaneous a {
	    font-size: 15px;
	}
	.team-member p {
	    font-size: 13px;
	    line-height: 1.5;
	}
	.secondary ul li{
	    font-size:15px;
	}
	.secondary ul{
		margin-bottom:20px;
	}
	.main-content br{
		display:none;
	}
	.section {
	    padding-top: 70px;
	    padding-bottom: 50px;
	}
	.team-members {
	    padding-top: 35px;
	    padding-bottom: 10px;
	}
	.team-member {
	    margin-bottom: 40px;
	}
	.team-member img {
	    margin-bottom: 22px;
	}
	#contact {
	    padding-bottom: 70px;
	}
	footer.section.black {
	    padding-bottom: 120px;
	}
	.approach-wording{
		margin-bottom:50px;
	}

	/* Mobile Menu */
	.navbar-nav {
	    margin: 10px 0px;
	}
	.navbar-nav>li {
	    margin-right: auto;
	}
	nav ul.nav li a {
	    font-size: 16px;
	}
	.navbar-nav>li>a {
	    height: auto;
	    display: table;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-left: auto;
	    margin-right: auto;
	    border-bottom: none;
	    width: 100%;
	}
	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover, 
	.navbar-default .navbar-nav>li>a:focus, 
	.navbar-default .navbar-nav>li>a:hover {
	    color: #fff;
	    background-color: transparent;
	    padding-bottom: 2px;
	    border-bottom: none;
	    opacity: 1;
	}
	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover, 
	.navbar-default .navbar-nav>li>a:focus, 
	.navbar-default .navbar-nav>li>a:hover {
	    padding-bottom: 10px;
	}
	.navbar-nav br{
		display:none;
	}
	.navbar-collapse {
	    border-top: 0px;
	}
	.container>.navbar-collapse{
	    margin-right: -18px;
	    margin-left: -18px;
	    background-color:#4b4b4b;
	}
	ul.navbar-nav {
	    float: none;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
	.navbar-nav>li {
	     margin-left: 0px;
	     border-bottom:1px solid #e7e7e7; 
	     border-bottom:1px solid #6f6f6f; 
	}

}